<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/static/css/login.css">
    <title>Signup Form</title>
</head>
<body>
    <div class="content">
        <div class="form" id="myForm">
        <form>
            <h1>SIGN UP</h1>
         
            <input type="text" placeholder="Enter Name" name="name" required>
         
            <input type="email" placeholder="Enter Email" name="email" required>
        
            <input type="password" placeholder="Enter Password" id="psw" required>

            <button id="btn">Sign up</button>
        </form>
        
        </div>
        
    </div>
        
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
 let btn = document.querySelector('button');
btn.addEventListener('click', async function(e){
  e.preventDefault();
  let name = document.querySelector("input[type='text']").value;
  let email = document.querySelector("input[type='email']").value;
  let password = document.querySelector("input[type='password']").value;

  try {
    const resp = await axios.post('/signup', { name, email, password });
    console.log(resp.data);
    alert("Signup Successful");
    window.location.href = '/';
  } catch (err) {
    if (err.response.status === 400) {
      alert(err.response.data);
    } else {
      console.error(err);
    }
  }
});

</script>


</body>
</html>
