body{
    width:100%;
	background:linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(TTS.png);
	background-position: center;
	background-size:cover;
	height:109vh;
}
.form {
	width:350px;
	height:450px;
	background-color: SlateBlue;
	position:absolute;
	margin-top:100px;
	top:-20px;
	left:370px;
	border:1px solid blue;
	padding:25px;
}
.content span{
	color:#ff7200;
	font-size:65px;
}
.form h1{
	width:320px;
	font-family:sans-serif;
	text-align:center;
	color:#ff7200;
	font-size:22px;
	background-color:#fff;
	border-radius:10px;
	margin:2px;
	padding:8px;
}
.form input{
	width:340px;
	height:35px;
	background:transparent;
	border-bottom:1px solid #ff7200;
	border-top:none;
	border-right:none;
	border-left:none;
	color:#fff;
	font-size:15px;
	letter-spacing:1px;
	margin-top:50px;
	font-family:sans-serif;
}
.form input:focus{
	outline:none;
}
::placeholder{
	color:#fff;
	font-family:Arial;
}
button{
	width:340px;
	height:40px;
	background:#ff7200;
	border:none;
	margin-top:30px;
	font-size:18px;
	border-radius:10px;
	cursor:pointer;
	color:#fff;
	transition:0.4s ease;
}
button:hover{
	background:#fff;
	color:#ff7200;
}
button a{
	text-decoration:none;
	color:#000;
	font-weight:bold;
}

.form .link {
	font-family:Arial,Helvetica,sans-serif;
	font-size:17px;
	padding-top:20px;
	text-align:center;
}
.form .link a{
	text-decoration:none;
	color:#ff7200;
	text-align:center;
}
.a{
	text-align:center;
}
.liw{
	padding-top:15px;
	padding-bottom:10px;
	text-align:center;
}

